<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Study.SpringBoot.Bicycle.mapper.BikeMapper">

	<resultMap type="Study.SpringBoot.Bicycle.pojo.Bike" id="bike_result_map">
		<id property="id" column="id"/>
		<result property="status" column="status"/>
		<result property="latitude" column="latitude"/>
		<result property="longitude" column="longitude"/>
		<result property="qrCode" column="qr_code"/>

	</resultMap>


	<!--
	CREATE TABLE bigdata.bike (
	id bigint(20) NOT NULL AUTO_INCREMENT,
	status int(11) DEFAULT NULL,
	qr_Code varchar(255) DEFAULT NULL,
	latitude varchar(255) DEFAULT NULL,
	longitude varchar(255) DEFAULT NULL,
	PRIMARY KEY (id)
	)
	ENGINE = INNODB
	CHARACTER SET utf8
	COLLATE utf8_general_ci;
	-->

	<!--parameterMap="bike_result_map"-->
	<insert id="save" parameterType="Study.SpringBoot.Bicycle.pojo.Bike"  >
		INSERT INTO t_bike (id, status, latitude, longitude, qr_code) VALUES (#{id}, #{status}, #{latitude}, #{longitude}, #{qrCode})
	</insert>


</mapper>